@import "./variables.scss";

@mixin ul-reset{
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin flex-wrap{
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-column{
    display: flex;
    flex-direction: column;
}

@mixin centering{
    justify-content: center;
    align-items: center;
}

@mixin btn-base{
    display: flex;
    @include centering;
    border-radius: $radius-divided;
    color: $text-light;
    padding: $padding-btn;
    background-color: $primary-color;
    border: none;
}


@mixin title{
    color: #4f121b;
    border-bottom: 1px solid #4f121b;
}