//Color
$primary-color:#cc2819;
$secondary-color: rgb(105, 105, 224);
$primary-color-opacity : #cc281998;
$secondary-background: rgb(201, 180, 135); 
$border-color: black;
$background-color: rgb(218, 203, 170);
$text-base : #4f121b;
$text-light: #fff0d5;

//Spacing
$gap-base : 15px;
$padding-page : 20px;
$padding-btn : 10px 15px;
$padding-elem : 10px 15px;
$padding-width: 10px;
$padding-height: 15px;


//Decor
$border-base : 1px solid $border-color;
$border-transparent: 1px solid transparent;
$radius-base : 15px;
$radius-divided : 7.5px;